
/* Checkout Homepage */

.formula{
    padding-top: 15px;
    width: 400px;
    height: 430px;
    background-color: white;
    border-radius: 7px;
    text-align: center;
    margin-top: 15px;
}
.input{
    width: 300px;
    height: 40px;
    border-radius: 4px;
}
.input1{
    width: 300px;
    height: 40px;
    background-color: hsl(154, 59%, 51%);
    border-radius: 4px;
    color: white;
    cursor: pointer;
}
.payment{
    grid-column-start: 1; 
    grid-column-end:6 ;
    grid-auto-rows: 680px; 
    grid-template-columns: repeat(12, 1fr); 
  }
  .payment0{
    grid-column-start: 1; 
    grid-column-end:12 ;
    grid-row-start: 1;
    grid-row-end:1 ;
  }

.payment1{
    grid-column-start: 2; 
    grid-column-end:3 ;
    grid-row-start: 1;
    text-align: -webkit-center;
    padding-top: 106px;
  }
  .payment2{
    grid-column-start: 3; 
    grid-column-end:10;
    grid-row-start: 1;
    text-align: -webkit-center;
    padding-top: 106px;
  }

  @media screen and (min-width: 700px){
    
   .payment{
    grid-column-start: 2;  
  }
}

  @media screen and (min-width: 850px){
   .payment{
      display:grid;
    
  }
}
